{% load static %}
{% load cache %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title%} Title {% endblock %}</title>
    <link rel="icon" type="image/png" href="https://picsum.photos/seed/picsum/200/300">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href=" {% static 'style.css' %}">
    <link rel="stylesheet" href=" {% static 'responsive.css' %}">


</head>

<body>
    <div class="wrapper">
        {% comment %}
            {% cache 20 header%}
            {% endcache %}
        {% endcomment %}

        {% include 'inc/_header.html' %}


        {% block content %}
        {% endblock %}

        {% comment %}
            {% cache 20 footer%}
            {% endcache %}
        {% endcomment %}

        {% include 'inc/_footer.html' %}

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>

</html>
